services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: app
    hostname: app
    environment:
      SPRING_PROFILES_ACTIVE: prod
      LOG_PATH: /maindata/log
      DATABASE_PATH: /maindata/db/openlist2strm.db
      CONFIG_PATH: /maindata/config
      USER_INFO_PATH: /maindata/config/userInfo.json
      FRONTEND_LOGS_PATH: /maindata/log/frontend
    ports:
      - "3111:80"  # External port:Internal port, users can modify external port as needed
    volumes:
      - ${LOG_PATH_HOST}:/maindata/log
      - ${CONFIG_PATH_HOST}:/maindata/config
      - ${DB_PATH_HOST}:/maindata/db
      - ${STRM_PATH_HOST}:/app/backend/strm
    restart: always