# 统一路径配置
app:
  paths:
    logs: ${APP_LOG_PATH:/app/data/log}
    data: ${APP_DATA_PATH:/app/data}
    database: ${APP_DATABASE_PATH:/app/data/config/db/openlist2strm.db}
    config: ${APP_CONFIG_PATH:/app/data/config}
    strm: ${APP_STRM_PATH:/app/backend/strm}
    userInfo: ${APP_USER_INFO_PATH:/app/data/config/userInfo.json}
    frontendLogs: ${APP_FRONTEND_LOGS_PATH:/app/data/log/frontend}

server:
  port: 8080
logging:
  file:
    path: ${app.paths.logs}
spring:
  datasource:
    url: jdbc:sqlite:${app.paths.database}
    driver-class-name: org.sqlite.JDBC
  # MyBatis configuration
  flyway:
    enabled: true
    locations: classpath:db/migration
    default-schema: main
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.hienao.openlist2strm.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: never
    auto-startup: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html
jwt:
  secret: ${JWT_SECRET:secret}
  expiration-min: ${JWT_EXPIRATION_MIN:20160}  # 14天 = 14 * 24 * 60 = 20160分钟