server:
  port: 8080
logging:
  file:
    path: ${LOG_PATH:./data/log}
spring:
  datasource:
    url: jdbc:sqlite:${DATABASE_PATH:./data/config/db/openlist2strm.db}
    driver-class-name: org.sqlite.JDBC
    # SQLite JDBC driver compatible with Alpine Linux
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
  # MyBatis configuration
  flyway:
    enabled: true
    locations: classpath:db/migration
    default-schema: main
    out-of-order: true
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.hienao.openlist2strm.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: never
    auto-startup: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html
jwt:
  secret: ${JWT_SECRET:secret}
  expiration-min: ${JWT_EXPIRATION_MIN:20160}  # 14天 = 14 * 24 * 60 = 20160分钟
